<button
  [type]="btnType()"
  [ngClass]="cssClasses()"
  [attr.aria-label]="btnAriaLabel()"
  [disabled]="isDisabled()"
  (click)="handleClick($event)"
  (focus)="handleFocus()"
  (blur)="handleBlur()"
  [style.minWidth]="
    typeof _minWidth() === 'number' ? _minWidth() + 'px' : _minWidth()
  "
  [style.maxWidth]="
    typeof _maxWidth() === 'number' ? _maxWidth() + 'px' : _maxWidth()
  "
>
<span class="ui-btn__content" [class.is-loading]="isLoading()">
@if (!isLoading()) {
  <ng-content></ng-content>
} @else {
  <nz-spin nzSize="large" />
}
</span>

</button>
