<form class="wallet-form" [formGroup]="walletForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <app-ui-input
      label="Nom de portefeuille"
      formControlName="name"
      placeholder="Compte courant"
      width="full"
      [type]="'text'"
    >
    </app-ui-input>

    @if (walletForm.get('name')?.errors && walletForm.touched) {
      <div>
        @if (walletForm.get('name')?.hasError('required')) {
          <span>Le nom est requis</span>
        }
        @if (walletForm.get('name')?.hasError('maxlength')) {
          <span>La longueur maximale doit être inférieure à 100</span>
        }
      </div>
    }
  </fieldset>

  <fieldset>
    <app-ui-input
      label="Solde initial"
      formControlName="balance"
      placeholder="1000"
      width="full"
      [type]="'number'"
    >
    </app-ui-input>

    @if (walletForm.get('balance')?.errors && walletForm.touched) {
      <div>
        @if (walletForm.get('balance')?.hasError('required')) {
          <span>Le montant est requis</span>
        }
        @if (walletForm.get('balance')?.hasError('min')) {
          <span>Le montant doit être positif</span>
        }
      </div>
    }
  </fieldset>

  <fieldset class="currency-fieldset">
    <legend>Sélectionnez la devise</legend>

    <div class="radio-group">
      <label class="radio-option">
        <input
          type="radio"
          formControlName="currency"
          value="EUR"
        />
        <span>EUR</span>
      </label>

      <label class="radio-option">
        <input
          type="radio"
          formControlName="currency"
          value="USD"
        />
        <span>USD</span>
      </label>
    </div>

    @if (walletForm.get('currency')?.errors && walletForm.touched) {
      <div>
        @if (walletForm.get('currency')?.hasError('required')) {
          <span>La devise est requise</span>
        }
      </div>
    }
  </fieldset>

  <app-ui-button 
    type="submit" 
    width="full"
    variant="primary"
    [disabled]="walletForm.invalid"
  >
    Créer un portefeuille
  </app-ui-button>
</form>
