<h1>Hello, {{ title }}</h1>
<app-theme-switch [maxWidth]="175" />
<div class="btn-container">
  <app-ui-button
    variant="secondary"
    size="large"
    radius="large"
    width="auto"
    (buttonClick)="handleButtonClick()"
    ariaLabel="ajouter aria-label"
  >
    <app-ui-icon name="arrow-left" size="md" [isDecorative]="true" />
    Label Button
    <app-ui-icon name="arrow-right" size="md" [isDecorative]="true" />
  </app-ui-button>

  <app-ui-button
    variant="primary"
    width="auto"
    (buttonClick)="handleButtonClick()"
    >Label Button</app-ui-button
  >

  <app-ui-button
    variant="secondary-ghost"
    size="square"
    radius="large"
    width="auto"
    (buttonClick)="handleButtonClick()"
  >
    <app-ui-icon name="plus" size="md" ariaLabel="ajouter la transaction" />
  </app-ui-button>

  <app-ui-button
    variant="primary-ghost"
    size="large"
    width="auto"
    (buttonClick)="handleButtonClick()"
    ariaLabel="ajouter ariaLabel"
  >
    <app-ui-icon name="chevron-down" size="md" [isDecorative]="true" />
    Ghost
  </app-ui-button>

  <app-ui-button
    variant="primary"
    size="square"
    radius="medium"
    width="auto"
    (buttonClick)="handleButtonClick()"
  >
    ajout transaction
    <app-ui-icon name="plus" size="md" [isDecorative]="true" />
  </app-ui-button>

  <app-ui-button
    variant="alert"
    radius="large"
    width="auto"
    (buttonClick)="handleButtonClick()"
    >supprimer compte</app-ui-button
  >

  <app-ui-button
    variant="alert"
    size="square"
    width="auto"
    (buttonClick)="handleButtonClick()"
  >
    <app-ui-icon name="trash-2" size="md" ariaLabel="supprimer" />
  </app-ui-button>

  <app-ui-button
    variant="success"
    size="square"
    width="auto"
    (buttonClick)="handleButtonClick()"
  >
    <app-ui-icon name="settings" size="md" ariaLabel="réglages" />
  </app-ui-button>
  <app-ui-link
    [routerLink]="['/register']"
    variant="primary"
    width="auto"
    ariaLabel="réinitialiser le mot de passe"
  >
    Mot de passe oublié ?
  </app-ui-link>
  <app-ui-link
    [routerLink]="['/login']"
    variant="alert"
    width="auto"
    ariaLabel="réinitialiser le mot de passe"
  >
    Mot de passe oublié ?
  </app-ui-link>
  <app-ui-link
    [routerLink]="['/']"
    variant="secondary"
    width="auto"
    ariaLabel="réinitialiser le mot de passe"
  >
    Mot de passe oublié ?
  </app-ui-link>
  <app-ui-link
    [routerLink]="['/']"
    variant="neutral"
    width="auto"
    ariaLabel="réinitialiser le mot de passe"
  >
    Mot de passe oublié ?
  </app-ui-link>
</div>
