<app-connected-layout>
  <section class="transactions-create-wrapper">
    <h1>Ajouter une transaction</h1>
    <div class="form-wrapper">
      <app-transaction-form />
    </div>
    <div class="btn-group-wrapper">
      <app-ui-button
        width="full"
        size="medium"
        variant="primary-ghost"
        (click)="navigateToTranstactions()"
        >retour</app-ui-button
      >
    </div>
    <p>Tags</p>
    <select>
      @for (tag of tags(); track tag.id) {
        <option [value]="tag.id">
          {{ tag.tagName }}
        </option>
      }
    </select>
    <p>Fournisseurs</p>
    <select>
      @for (provider of providers(); track provider.id) {
        <option [value]="provider.id">
          {{ provider.providerName }}
        </option>
      }
    </select>
  </section>
</app-connected-layout>
