@use '../../../../../../../styles/themes/tokens' as theme;
@use '../../../../../../../styles/abstracts/typography' as typo;
@use '../../../../../../../styles/abstracts/layout' as layout;
@use '../../../../../../../styles/abstracts/shadows' as shadows;
@use '../../../../../../../styles/abstracts/breakpoints' as breakpoints;

.tabs {
  @include layout.flex(
    $dir: null,
    $wrap: null,
    $justify: null,
    $align: null,
    $gap: null
  );
  margin-bottom: 1rem;
}

.tab-button {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
  cursor: pointer;
  @include typo.text-style(heading-h3, bold, mobile);
  border-bottom: 3px solid transparent;
  transition:
    color 0.2s,
    border-color 0.2s;

  &.active {
    @include theme.themed-block(
      (
        color: 'text-primary-default',
        border-bottom-color: 'border-primary-default',
      )
    );
  }
  @include breakpoints.mq(desktop) {
    @include typo.text-style(heading-h3, bold, desktop);
  }
}

.category-list {
  @include layout.flex($dir: column, $wrap: nowrap, $gap: space-12);
  @include layout.padding(space-8);
  max-height: 500px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #{theme.themed('background-primary-default', light)}
    #{theme.themed('background-neutral-tertiary', light)};
}

:host-context([data-theme='dark']) .category-list {
  scrollbar-color: #{theme.themed('background-primary-default', dark)}
    #{theme.themed('background-neutral-tertiary', dark)};
}

.category-item {
  @include layout.flex(
    $dir: null,
    $wrap: null,
    $justify: null,
    $align: center,
    $gap: space-8
  );
  @include layout.padding(space-8, space-4);
  border-radius: 0.5rem;
  @include layout.radius(md);
  cursor: pointer;

  &:hover {
    @include theme.themed-block(
      (
        background-color: 'background-primary-hover-ghost',
        color: 'text-neutral-default-static',
      )
    );
  }
}
