@use 'sass:map';
@use 'sass:math';

@function px-to-rem($px) {
  @return math.div($px, 16) * 1rem;
}

@function size($value) {
  // Si $value est une clé du map $size, retourne la valeur correspondante
  @if map.has-key($size, $value) {
    @return map.get($size, $value);
  }
  // Sinon, retourne la valeur telle quelle (utile si on passe 2rem ou 32px direct)
  @return $value;
}

$space-2: px-to-rem(2); // 2px
$space-4: px-to-rem(4); // 4px
$space-6: px-to-rem(6); // 6px
$space-8: px-to-rem(8); // 8px
$space-10: px-to-rem(10); // 10px
$space-12: px-to-rem(12); // 12px
$space-14: px-to-rem(14); // 14px
$space-16: px-to-rem(16); // 16px
$space-24: px-to-rem(24); // 24px
$space-32: px-to-rem(32); // 32px
$space-48: px-to-rem(48); // 48px
$space-64: px-to-rem(64); // 64px
$space-80: px-to-rem(80); // 80px
$space-96: px-to-rem(96); // 96px
$space-128: px-to-rem(128); // 128px

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-pill: 9999px;

$size: (
  space-2: $space-2,
  space-4: $space-4,
  space-6: $space-6,
  space-8: $space-8,
  space-10: $space-10,
  space-12: $space-12,
  space-14: $space-14,
  space-16: $space-16,
  space-24: $space-24,
  space-32: $space-32,
  space-48: $space-48,
  space-64: $space-64,
  space-80: $space-80,
  space-96: $space-96,
  space-128: $space-128,
);

@mixin margin($top, $right: null, $bottom: null, $left: null) {
  margin-top: size($top);
  margin-right: if($right != null, size($right), size($top));
  margin-bottom: if($bottom != null, size($bottom), size($top));
  margin-left: if(
    $left != null,
    size($left),
    if($right != null, size($right), size($top))
  );
}

@mixin padding($top, $right: null, $bottom: null, $left: null) {
  padding-top: size($top);
  padding-right: if($right != null, size($right), size($top));
  padding-bottom: if($bottom != null, size($bottom), size($top));
  padding-left: if(
    $left != null,
    size($left),
    if($right != null, size($right), size($top))
  );
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-16;
}

@mixin flex($dir: null, $wrap: null, $justify: null, $align: null, $gap: null) {
  display: flex;

  @if $dir != null {
    flex-direction: $dir;
  }
  @if $wrap != null {
    flex-wrap: $wrap;
  }
  @if $justify != null {
    justify-content: $justify;
  }
  @if $align != null {
    align-items: $align;
  }
  @if $gap != null {
    gap: size($gap);
  }
}

$radii: (
  sm: $radius-sm,
  md: $radius-md,
  lg: $radius-lg,
  xl: $radius-xl,
  pill: $radius-pill,
);

@mixin radius($key: md) {
  $radius: map.get($radii, $key);
  @if $radius {
    border-radius: $radius;
  } @else {
    @warn "Radius `#{$key}` non trouvé dans la map \$radii.";
  }
}
