@use '../tokens/variables-desktop' as desktop;
@use '../tokens/variables-mobile' as mobile;

$font-family-base: 'Open Sans', sans-serif;

// 📐 Typo desktop – tailles et hauteurs de ligne
$sizes-desktop: (
  display-h1: desktop.$typo-display-h1-font-size + px,
  display-h2: desktop.$typo-display-h2-font-size + px,
  display-h3: desktop.$typo-display-h3-font-size + px,
  display-h4: desktop.$typo-display-h4-font-size + px,
  display-h5: desktop.$typo-display-h5-font-size + px,
  display-h6: desktop.$typo-display-h6-font-size + px,
  heading-h1: desktop.$typo-heading-h1-font-size + px,
  heading-h2: desktop.$typo-heading-h2-font-size + px,
  heading-h3: desktop.$typo-heading-h3-font-size + px,
  heading-h4: desktop.$typo-heading-h4-font-size + px,
  heading-h5: desktop.$typo-heading-h5-font-size + px,
  heading-h6: desktop.$typo-heading-h6-font-size + px,
  text-lg: desktop.$typo-text-large-font-size + px,
  text-md: desktop.$typo-text-medium-font-size + px,
  text-sm: desktop.$typo-text-small-font-size + px,
  text-xs: desktop.$typo-text-smaller-font-size + px,
  text-xxs: desktop.$typo-text-smallest-font-size + px,
);

// 📐 Typo mobile – tailles et hauteurs de ligne
$sizes-mobile: (
  display-h1: mobile.$typo-display-h1-font-size + px,
  display-h2: mobile.$typo-display-h2-font-size + px,
  display-h3: mobile.$typo-display-h3-font-size + px,
  display-h4: mobile.$typo-display-h4-font-size + px,
  display-h5: mobile.$typo-display-h5-font-size + px,
  display-h6: mobile.$typo-display-h6-font-size + px,
  heading-h1: mobile.$typo-heading-h1-font-size + px,
  heading-h2: mobile.$typo-heading-h2-font-size + px,
  heading-h3: mobile.$typo-heading-h3-font-size + px,
  heading-h4: mobile.$typo-heading-h4-font-size + px,
  heading-h5: mobile.$typo-heading-h5-font-size + px,
  heading-h6: mobile.$typo-heading-h6-font-size + px,
  text-lg: mobile.$typo-text-large-font-size + px,
  text-md: mobile.$typo-text-medium-font-size + px,
  text-sm: mobile.$typo-text-small-font-size + px,
  text-xs: mobile.$typo-text-smaller-font-size + px,
  text-xxs: mobile.$typo-text-smallest-font-size + px,
);

$font-weights: (
  regular: 400,
  bold: 700,
  extrabold: 800,
);

$mode: (
  desktop: 'desktop',
  mobile: 'mobile',
);

@use 'sass:map';

@mixin text-style($size-key, $weight-key: regular, $mode: desktop) {
  $sizes: if($mode == desktop, $sizes-desktop, $sizes-mobile);

  font-family: $font-family-base;
  font-size: map.get($sizes, $size-key);
  line-height: map.get($sizes, $size-key);
  font-weight: map.get($font-weights, $weight-key);
}
