@use '../../../../styles/abstracts/layout' as layout;
@use '../../../../styles/themes/tokens' as theme;

.menu-desk-wrapper {
  position: fixed;
  width: 100%;
  text-align: center;
  border: solid 1px transparent;
  @include layout.padding(space-10, space-12);
  z-index: 10;

  @include theme.themed-block(
    (
      background-color: 'background-neutral-primary',
      color: 'text-neutral-secondary',
      border-bottom-color: 'common-neutral-low',
    )
  );
  top: 0;

  @include layout.flex($dir: row, $justify: space-between);
}

.menu-links {
  display: flex;
  gap: 2rem;
}
