@use '../../../../styles/abstracts/layout' as layout;
@use '../../../../styles/themes/tokens' as theme;
@use '../../../../styles/abstracts/typography' as typo;
@use '../../../../styles/abstracts/shadows' as shadows;
@use '../../../../styles/abstracts/breakpoints' as breakpoints;

.connected-layout {
  min-width: 100%;
  min-height: 100%;
  font-family: 'open-sans', sans-serif;
  line-height: 24px;

  background: linear-gradient(
    117deg,
    #{theme.themed('background-neutral-primary', 'light')} 0.23%,
    #{theme.themed('common-neutral-low', 'light')} 100%
  );
}

:host-context([data-theme='dark']) .connected-layout {
  background: linear-gradient(
    117deg,
    #{theme.themed('background-neutral-primary', 'dark')} 0.23%,
    #{theme.themed('common-neutral-low', 'dark')} 100%
  );
}

.connected-content {
  height: 2000px;
  @include layout.padding(space-64, 0, 0, 0);
}
