<app-public-layout>
  <div class="homepage_content">
    <h2>
      <span>La seule application qui</span>
      <span class="homepage_content__highlight">met vos finances en forme</span>
    </h2>
    <div class="btn-group">
      <app-ui-button
        width="full"
        size="large"
        [minWidth]="200"
        [maxWidth]="392"
        (click)="navigateToRegister()"
      >
        Inscription
      </app-ui-button>
      <app-ui-button
        width="full"
        size="large"
        [minWidth]="200"
        [maxWidth]="392"
        variant="primary-ghost"
        (click)="navigateToLogin()"
        >Connexion</app-ui-button
      >
    </div>
  </div>
</app-public-layout>
