@use '../../../styles/abstracts/layout';

.login-wrapper,
.btn-group-wrapper {
  width: 100%;
  max-width: 392px;
  @include layout.flex($dir: column, $gap: space-12);
}

.btn-group-wrapper {
  margin-top: layout.$space-24;
}
