@use '../styles/abstracts/layout' as layout;

.btn-container {
  @include layout.flex(
    $dir: row,
    $wrap: wrap,
    $align: center,
    $justify: center,
    $gap: layout.$space-12
  );
  margin-top: layout.$space-24;
}
