<app-connected-layout>
  <div class="transaction-update">
    @if (transaction() !== undefined) {
      <!--fomulaire start--->
      <section class="transactions-update-wrapper">
        <h1>transaction du {{ formatDate(transaction()?.createdAt ?? '') }}</h1>
        <div class="form-wrapper">
          <app-transaction-form
            [mode]="'edit'"
            [transactionToEdit]="transaction() ?? undefined"
          ></app-transaction-form>
        </div>
        <div class="btn-group-wrapper">
      <app-ui-button
        width="full"
        size="medium"
        variant="primary-ghost"
        (click)="navigateToTranstaction()"
        >retour</app-ui-button
      >
    </div>
      </section>
      <!--fomulaire end--->
    } @else {
      <p>Chargement...</p>
    }
  </div>
</app-connected-layout>
