@use '../../../../styles/abstracts/layout' as layout;
@use '../../../../styles/themes/tokens' as theme;
@use '../../../../styles/abstracts/typography' as typo;
@use '../../../../styles/abstracts/shadows' as shadows;
@use '../../../../styles/abstracts/breakpoints' as breakpoints;

.main-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    117deg,
    #{theme.themed('background-neutral-primary', 'light')} 50.11%,
    #{theme.themed('common-neutral-low', 'light')} 100%
  );
}

:host-context([data-theme='dark']) .main-wrapper {
  background: linear-gradient(
    117deg,
    #{theme.themed('background-neutral-primary', 'dark')} 50.11%,
    #{theme.themed('common-neutral-low', 'dark')} 100%
  );
}

.content-wrapper {
  width: 100vw;
  min-height: 100vh;

  @include breakpoints.mq(desktop) {
    @include layout.flex($dir: column, $justify: center, $align: center);
    width: 60vw;
  }

  @media (min-width: 1280px) {
    width: 70vw;
  }
}

.logo-bg {
  position: fixed;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 40vw;
  height: 80vw;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  pointer-events: none;
  z-index: 1;
  background-image: url('../../../../assets/images/Logo-light.svg');
  display: none;

  @media (max-width: 1280px) {
    width: 50vw;
    max-width: 520px;
  }

  @include breakpoints.mq(desktop) {
    display: block;
  }
}

:host-context([data-theme='dark']) .logo-bg {
  background-image: url('../../../../assets/images/Logo-dark.svg');
}

.public-card {
  width: 100%;
  min-height: 100vh;
  @include layout.padding(44px, space-16, space-8);

  @include layout.flex($dir: column, $justify: start, $align: center);

  @include shadows.shadow(lg);

  :host-context([data-theme='dark']) & {
    @include shadows.shadow(lg, dark);
  }

  @include breakpoints.mq(desktop) {
    max-width: 700px;
    min-height: 700px;
    border: solid 3px;
    @include layout.radius(md);
    @include theme.themed-block(
      (
        border-color: 'border-primary-default',
      )
    );
  }
}

.public-card__logo {
  display: block;
  max-width: 200px;
  margin: 0 auto 1.5rem auto;
}

.public-card__header {
  text-align: center;
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
