<section class="tab-content">
  <article class="action-buttons">
    <app-ui-button
      variant="primary"
      size="medium"
      ariaLabel="Créer une nouvelle catégorie"
      (buttonClick)="openCreateCategoryModal()"
    >
      Créer une catégorie
    </app-ui-button>
    @if (hasSelectedCategories()) {
      <app-ui-button
        variant="alert"
        size="medium"
        [ariaLabel]="'Supprimer ' + selectedCategoriesCount() + ' catégorie(s)'"
        (buttonClick)="deleteSelectedCategories()"
      >
        Supprimer des catégories
      </app-ui-button>
    }
  </article>
  @for (section of sections; track section.prefix) {
    <app-parameter-list
      [sections]="[section]"
      [prefix]="section.prefix"
      [isSelected]="isCategorySelected"
      [getDisplayInfo]="getCategoryDisplayInfo"
      (toggleItem)="
        toggleCategorySelection($event, section.prefix === 'income-category')
      "
      (deleteItem)="openDeleteCategoryModal($event)"
      (editItem)="openEditCategoryModal($event)"
    />
  }
    <app-create-category-modal
      [isOpen]="modalOpenCategory()"
      title="Créer une catégorie"
      (closeModal)="modalOpenCategory.set(false)"
      (create)="handleCreateCategory($event)"
    />
    <app-edit-category-modal
      [isOpen]="modalEditCategory().open"
      title="Modifier une catégorie"
      [currentCategory]="modalEditCategory().category!"
      (closeModal)="modalEditCategory.set({open: false})"
      (save)="handleUpdateCategory($event)"
    />
</section>
