@use '../../../../styles/tokens/variables-dark' as dark;

:host-context([data-theme='dark']) .btn-switch {
  background: dark.$background-primary-default;
  color: dark.$text-neutral-default-inverse;

  &:hover {
    background: dark.$background-primary-hover;
  }
}
