@use '../../../../styles/abstracts/layout' as layout;
@use '../../../../styles/abstracts/breakpoints' as bp;

:host {
  width: 100%;
  max-width: 392px;
}

.login-form {
  margin-top: layout.$space-24;
  @include layout.flex($dir: column, $gap: space-12);

  @include bp.mq(desktop) {
    margin-top: layout.$space-32;
  }
}
fieldset {
  @include layout.flex($dir: column, $gap: space-12);
}
