@use '../../../../styles/abstracts/layout' as layout;
@use '../../../../styles/abstracts/breakpoints' as bp;

:host {
  width: 100%;
  max-width: 392px;
}

.register-form {
  margin-top: layout.$space-24;
  @include layout.flex($dir: column, $gap: space-16);

  @include bp.mq(desktop) {
    margin-top: layout.$space-32;
  }
}
fieldset {
  @include layout.flex($dir: column, $gap: space-8);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  app-ui-button:last-child {
    margin-left: auto;
  }
}

:host ::ng-deep {
  // Style pour les inputs désactivés
  .disabled-input {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
}

.password-fields {
  margin-top: 1rem;

  .show-password {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
