<app-connected-layout>
  <main class="parameters-container">
    <!-- Tabs Navigation -->
    <app-tabs-navigation
      [tabs]="tabs"
      [activeTabId]="activeTab()"
      (tabChange)="setActiveTab($event)"
    />

    <!-- ===== CATEGORIES TAB ===== -->
    @if (activeTab() === 'categories') {
      <app-categories-tab />
    }
    <!-- ===== TAGS TAB ===== -->
    @if (activeTab() === 'tags') {
      <app-tags-tab />
    }
    <!-- ===== PROVIDERS TAB ===== -->
    @if (activeTab() === 'providers') {
      <app-providers-tab />
    }

  </main>
</app-connected-layout>
