<div
  [ngClass]="['ui-input__wrapper', `ui-input--${this._width()}`]"
  [style.minWidth]="
  typeof _minWidth() === 'number' ? _minWidth() + 'px' : _minWidth()
"
[style.maxWidth]="
  typeof _maxWidth() === 'number' ? _maxWidth() + 'px' : _maxWidth()
"
>
  @if (_label()) {
    <label class="ui-input__label" [attr.for]="_id()">
      {{ _label() }} 
    </label>
  }

  <div class="ui-input__field-group" [ngClass]="cssClasses()">
    <ng-content select="[icon-left]"></ng-content>
    <input
      [type]="_type()"
      [id]="_id()"
      [name]="_name()"
      [placeholder]="_placeholder()"
      [disabled]="_disabled()"
      [readonly]="false"
      [attr.aria-label]="_ariaLabel()"
      [attr.aria-describedby]="_ariaDescribedBy()"
      [required]="_required()"
      [attr.aria-invalid]="false"
      [value]="_value()"
      (input)="handleOnChange($event)"
      (blur)="handleOnBlur($event)"
      (focus)="HandleOnFocus($event)"
    />
    <ng-content select="[icon-right]"></ng-content>
  </div>

  @if (_helper()) {
    <div class="ui-input__helper">{{ _helper() }}</div>
  }
</div>
